<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Crash | Home</title>
    <link href="/css/index.css" rel="stylesheet"/>
    </head>
    <body>
        <form id="form">
            <h3>JOIN</h3>
            <input autocomplete="off" type="text" id="form-nickname" name="nickname" placeholder="nickname">
            <input autocomplete="off" type="text" id="form-code" name="code" placeholder="code">
            <br>
            <input id="submit" type="submit" value="Submit">
        </form>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
